* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    transition: margin-left .5s;
    /* padding: 0.1rem; */
    margin: auto;
}

.search-ui {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: space-between; */
    display: grid;
    margin-top: 15%;
    padding: 0.25rem;
}

.search-bar {
    width: 100%;
    font-size: 7vmin;
    margin-bottom: 0.25rem;
    padding: 0.25em;
    text-align: center;
    border: 1px solid black;

}

button.open-mob {
    /* margin-left: 25%; */
    width: 35%;
    font-size: 3.5vmin;
    margin: auto;
    padding: 0.25em;
}

button.find-mob {
    width: 75%;
    font-size: 5vmin;
    margin: auto;
    margin-bottom: 1.25rem;
    padding: 0.25em;
}
 
button.open, button.find  {
    display: none;
}


.cards {
    /* width: 80%; */
    background: #bfbfbf;
    color: white;
    /* display: none; */
    /* display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 1rem;
    justify-items: center; */
    margin-top: 3rem;
}

.card {
    /* background: #FF9671; */
    /* justify-self: center; */
    /* display: none; */
}

.card-list {
    /* border: 1px solid black; */
    color: white;
    width: 0;
    height: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; 
  overflow-x: hidden;
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s;
}

.card-list .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: white;
    padding: 2px;
}

.card-list .closebtn:hover {
    background-color: #404040;
    padding: 2px;
  }

.card-name {
    font-size: 1.25rem;
    text-align: center;
}
 
.cell {
    border: 1px solid black;
}

/* table {
    border: 2px solid black;
    
} */

.mobile-table {
    display: grid;
    text-align: center;
}

.heading, .card-data {
    padding: 0.5em 0;
}

.heading {
    background: #404040;
    font-size: 1.5em;
}

.card-data {
    color: black;
    font-size: 1.5em;
}
/* 
th {
 
    background-color: #404040;
    color: orange;
    padding: 0 3rem;
}

tr {
    text-align: center;
}

td {
    color: black;
}

table img {
    margin: auto;
} */


/* .card-image {} */

/* Colours to find 

Time - Yellow
Primal - Blue
??? - Purple
Justice - Green

*/

/* BREAKPOINTS */

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) and (orientation: landscape) {
    body {
        background-color: yellow;
    }

    .search-ui {
        /* display: flex; */
        /* flex-direction: row; */
        grid-template-columns: 8% 72% 8%;
        grid-template-rows: 25%;
        /* grid-column-gap: 0; */
        justify-content: center;
    }
    
    button.find-mob {
        display: none;
    }
    
    button.open-mob {
        display: none;
    }

    button.open, button.find  {
        /* display: inline; */
        /* display: block; */
        display: grid;
        /* justify-items: baseline; */
        width: 100%;
        height: 7.35vh;
    
        /* height: 4.05em; */
        /* padding: 1em; */
    }
    
    button.open {
        border-radius: 25% 0 0 25%;
    }

    button.find {
        border-radius: 0 25% 25% 0;
    }


    button.open img, button.find img {
        display: grid;
        /* justify-self: center;
        align-self: center; */
        /* width: 55%; */
        width: 2.5vw;
        /*height: 4.5vh;  */
        /* width: 30px;    leave it at a fixed value for now until I know what I'm doing with svg's */
        /* width: 30px; */
        height: auto;
        margin: auto;
        /* padding: 0.25em 0; */
        
    }

    .search-bar {
        /* width: 100%; */
        height: 5.5vh;
        /* height: 1em; */
        font-size: 4.65vmin;
        padding: 0.75em;
        border: 1px solid black;
    }
 }

/* Medium devices (portrait tablets, 768px and up) */
@media only screen and (min-width: 768px) and (orientation: portrait) {
    body {
        background-color: aquamarine;
    }

    .search-ui {
        /* display: block; */
        /* display: grid; */
        grid-template-columns: 6% 73% 6%;
        grid-template-rows: 25%;
        
        justify-content: center;
    }

    button.find-mob {
        display: none;
    }
    
    button.open-mob {
        display: none;
    }

    button.open, button.find  {
        display: grid;
        height: 5.5vh;
        width: 6vw;
    }

    button.open {
        border-radius: 25% 0 0 25%;
    }

    button.find {
        border-radius: 0 25% 25% 0;
    }

    button.open img, button.find img {
        /* display: grid; */
        width: 3vw;      
        margin: auto; 
        background-size: contain;    
    }

    .search-bar {
        height: 5.5vh; 
        font-size: 4vmin;
        /* height: 100%; */
    }
}
 
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) and (orientation: landscape) {
     body {
         background-color: orange;
     }

     button.find, button.open  {
        /* display: inline; */
        /* display: block; */
        /* display: grid; */
        /* justify-items: baseline; */
        /* width: 100px; */
        height: 5.5vh;
        /* height: 4.05em; */
        /* padding: 1em; */
    }

    button.open {
        border-radius: 10% 0 0 10%;
    }

    button.find {
        border-radius: 0 10% 10% 0;
    }

    button.open img, button.find img {
        /* display: grid; */
        width: 2vw;      
        /* margin: auto; 
        background-size: contain;     */
    }

    .search-bar {
        /* height: 5.5vh;  */
        font-size: 3vmin;
        /* height: 100%; */
    }

    .mobile-table {
        grid-template-areas: 
        'name info-heading info'
        'name info-heading info'
        'image info-heading info'
        'image info-heading info'
        'image info-heading info'
        'image info-heading info'
        'image info-heading info'
        'image info-heading info'
        ;
    }

    .name { grid-area: name; }
    .image { grid-area: image; }
    .info-heading { grid-area: info-heading; }
    .info { grid-area: info; }
}
 

 @media only screen and (min-width: 992px) and (orientation: portrait) {

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {}
