* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    transition: margin-left .5s;
    /* padding: 0.1rem; */
    margin: auto;
}

.search-ui {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: space-between;
    margin-top: 15%;
    padding: 0.25rem;
}

.search-bar {
    width: 100%;
    font-size: 7vmin;
    margin-bottom: 0.25rem;
    padding: 0.25em;
    text-align: center;
    border: 1px solid black;

}

.find {
    width: 75%;
    font-size: 5vmin;
    margin: auto;
    margin-bottom: 1.25rem;
    padding: 0.25em;
}

button.open {
    /* margin-left: 25%; */
    width: 35%;
    font-size: 3.5vmin;
    margin: auto;
    padding: 0.25em;
}

.cards {
    /* width: 80%; */
    background: #bfbfbf;
    color: white;
    /* display: none; */
    /* display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 1rem;
    justify-items: center; */
    margin-top: 3rem;
}

.card {
    /* background: #FF9671; */
    /* justify-self: center; */
    /* display: none; */
}

.card-list {
    /* border: 1px solid black; */
    color: white;
    width: 0;
    height: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; 
  overflow-x: hidden;
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s;
}

.card-list .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: white;
    padding: 2px;
}

.card-list .closebtn:hover {
    background-color: #404040;
    padding: 2px;
  }

.card-name {
    font-size: 1.25rem;
    text-align: center;
}
 
.cell {
    border: 1px solid black;
}

/* table {
    border: 2px solid black;
    
} */

.mobile-table {
    display: grid;
    text-align: center;
}

.heading, .card-data {
    padding: 0.5em 0;
}

.heading {
    background: #404040;
    font-size: 1.5em;
}

.card-data {
    color: black;
    font-size: 1.5em;
}
/* 
th {
 
    background-color: #404040;
    color: orange;
    padding: 0 3rem;
}

tr {
    text-align: center;
}

td {
    color: black;
}

table img {
    margin: auto;
} */


/* .card-image {} */

/* Colours to find 

Time - Yellow
Primal - Blue
??? - Purple
??? - Green

*/

/* BREAKPOINTS */

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    button.find {
        display: none;
    }
    
    button.open {
        display: none;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {}
