* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    /* width: 100%; */
    /* display: flex;
    flex-direction: column; */
    display: grid;
    


}

.search-ui {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    
}

.search-bar {
    width: 100%;
    font-size: 5vmin;
    margin-bottom: 0.5rem;
    
}

.find {
    width: 100%;
    margin: auto;
    font-size: 3.5vmin;
}

.cards {
    /* width: 80%; */
    background: #bfbfbf;
    color: white;
    /* display: none; */
    /* display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 1rem;
    justify-items: center; */
    margin-top: 3rem;
}

.card {
    /* background: #FF9671; */
    /* justify-self: center; */
    /* display: none; */
}

.card-name {
    font-size: 1.25rem;
    text-align: center;
}
 
.cell {
    border: 1px solid black;
}

/* table {
    border: 2px solid black;
    
} */

.mobile-table {
    display: grid;
    text-align: center;
}

.heading, .card-data {
    padding: 0.5em 0;
}

.heading {
    background: #404040;
    font-size: 1.5em;
}

.card-data {
    color: black;
    font-size: 1.5em;
}
/* 
th {
 
    background-color: #404040;
    color: orange;
    padding: 0 3rem;
}

tr {
    text-align: center;
}

td {
    color: black;
}

table img {
    margin: auto;
} */

.card-list {
    border: 2px solid black;
    /* width: 5em; */
}
/* .card-image {} */

/* Colours to find 

Time - Yellow
Primal - Blue
??? - Purple
??? - Green



*/
